.App {
  background-color: #fafafa;
}
.home {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  background-image: url("/assets/images/home.png");
  background-position: 325px 0px;
  background-repeat: no-repeat;
  background-size: 90% auto;
  height: 599px;
  position: relative;
  top: 70px;
}
.home-title {
  font-size: 50px;
  line-height: 60px;
  color: #000;
  font-weight: 930;
  padding-top: 129px;
}
.home-description {
  font-size: 16px;
  line-height: 24px;
  margin-top: 35px;
}
.btn-start {
  background-color: #41538D;
  border-color: #41538D;
  color: white;
  width: 232px;
  padding: 16px;
  border: none;
  font-weight: bold;
}
.nav-home {
  background-color: #fff !important;
  border-bottom: 1px solid #ccc;
  height: 65px;
  box-shadow: 0px 0px 5px 0px #ccc;
}
.container-left-home {
  margin-left: 35px;
}